@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/toastr/toastr';
@import (css) '../../bower_components/nprogress/nprogress.css';


@import 'font.less';
@import 'animate.less';
@import 'font-awesome.min.less';
@import 'simple-line-icons.less';
@import 'jplayer.flat.less';



// Core variables and mixins
@import "app.variables.less";
@import "app.mixins.less";

@import "app.reset.less";
@import "app.layout.less";
@import "app.nav.less";

@import "app.arrow.less";
@import "app.buttons.less";
@import "app.widgets.less";
@import "app.icons.less";

@import "app.switch.less";
@import "app.plugin.less";

@import "app.colors.less";
@import "app.utilities.less";

@import "app.musicbar.less";

// react-Select stylesheet
@import "Select/default.less";



.musicbar {
  height: 20px !important;
  width: 20px !important;
}

html,
html body {
  height: 100%;
  overflow: hidden;
}
html .hbox.stretch {
  height: 100%;
}

html .vbox.flex > section {
  overflow: auto;
}

html .vbox > footer {
  position: absolute;
}

body > div {
  height: 100%;
}

body > div > section {
  height: calc(~"100% - 60px");
}

.scrollable {
  max-height: 100%;
  height: 100%;
}
.vbox > section {
  height: 100%;
}

.w-f-md {
  padding-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0px;
  padding-left: 70px;
}

.list-my-users {
  margin-top: 60px;
}

.header-search-my-users {
  position: fixed;
  z-index: 1001;
}

.img-container {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.img-container-center {

}

.img-container-center img {
  display: block;
  margin: 0 auto;
}

.img-container-bottom, .img-container-top {
  z-index: 5;
}

.btn-following {
  margin-right: 1%;
}

.list-group-top-songs {
  border-radius: 8px;
}

.span-help-block {
  margin: 10px;
  text-align: center;
  display: block;
  color: #a94442;
}

.crop {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.crop::before {
  content: "";
  display: block;
  padding-top: 75%;
}
.crop img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.item-overlay {
  z-index: 1;
}

// style for the youtube player

#youtube-video {
  position: fixed;
  bottom: 60px;
  right: 0px;
}